html.has-office-logo .app .brand .logo{
  background-image:var(--office-logo)!important;
  background-size:contain!important;
  background-position:center!important;
  background-repeat:no-repeat!important;
  color:transparent!important;
}
